@font-face {
    font-family: 'SourceHanSansSC-Regular';
    src: url('/fonts/SourceHanSerifSC-Regular.otf');
}

@font-face {
    font-family: 'SourceHanSansSC-Bold';
    src: url('/fonts/SourceHanSerifSC-Bold.otf');
}


